    html {
        color: white;
        background-color: black;
    }
        .upperthing {
            position: fixed;
            background-color: cyan;
            width: 100%;
            left: 0;
            top: 0;
            height: 75px;
            color: black;

            display: flex;
            align-items: center;
        }
.title-area {
    display: flex;
    align-items: center;
    gap: 10px;
}
.b0 {
    background-color: rgb(0,200,200);
}

#bg {
    position: fixed;
    inset: 0;
    z-index: -1;
}

    #messages p {
        white-space: pre-wrap;
    }